<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        id="logo"
        src="{{ url_for('static', path='imagens/logoCarlink-Escura.svg') }}"
        alt="Logo"
        height="80"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/comprar">Comprar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastrocarro">Vender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sobre-nos">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/politicas">Políticas</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      {% if nome_usuario %}
      <span class="navbar-text me-2">Olá, {{ nome_usuario }}!</span>
      <a class="btn btn-outline-primary ml-2" href="/perfil">Meu Perfil</a>
      <a class="btn btn-outline-danger ml-2" href="/logout">Sair</a>
      {% else %}
      <a class="btn btn-outline-dark me-2" href="/cadastro-usuario">Cadastrar</a>
      <a class="btn btn-dark ml-2" href="/login">Entrar</a>
      {% endif %}
    </div>
  </div>
</nav>
